.jumbotron {
  margin: 0;
  background-color: rgb(34, 85, 39);

  h1 {
    margin: 0 40px;
    color: white;
    font-size: 40px;
  }
}

.page {
  width: auto;
  margin: 20px;
}

.card {
  box-shadow: 2px 2px 2px 2px grey;
  border-radius: 3px;
padding:0px;
margin:0px 0px;
width:auto;
height:auto;
}
.fix{height:0%;}
.article {
  margin:0;
  width:auto;
  height:100%;
  .article__image {
    float: left;
    margin: 0 20px 10px 0;

  }
  .article__content{
    max-width:50%;
    margin:auto;
  }
}

.media__buttons {


}

.twit {

}

.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;

  ul {
    height: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 3px 8px 5px #4e4e4e,;
  }

  li {
    float: left;

    a {
      color: green;
      display: block;
      text-align: center;
      padding: 14px 16px;
      background-color: white;
      text-decoration: none;
    }

    a:hover {
      background-color: #006700;
      color: white;
    }
  }
}
